<!-- === Header区域 === -->
<header class="site-header">
    <div class="header-container">
        <p class="site-title">
            <a href="{{ site.baseurl }}/">
                <svg class="site-logo" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"/>
                    <ellipse cx="12" cy="12" rx="8" ry="4" transform="rotate(-30 12 12)"/>
                </svg>
                <span>{{ site.title }}</span>
            </a>
        </p>
        <p class="site-description">{{ site.description }}</p>
    </div>
</header>
